@import '../../responsive.scss';

.reminding-stock-wrap {
  .reminding-btn {
    position: relative;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    text-indent: -9999px;
    cursor: pointer;
    outline-style: none;
    background: url(../../styles/bell.png) center no-repeat;
    background-size: 60%;

    .alert-color {
      position: absolute;
      top: 2px;
      right: 2px;
      z-index: 1;
      width: 15px;
      height: 15px;
      // border: 2px solid #fff;
      border-radius: 50%;
      font-size: 0.5rem;
      line-height: 15px;
      font-weight: 400;
      text-indent: 0;
      color: #fff;
      background: #2196f3;
      box-sizing: border-box;
      &::before {
        content: '';
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: -1;
        display: block;
        width: 15px;
        height: 15px;
        border-radius: 50%;

        animation-name: alert;
        animation-duration: 1.2s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-out;
        background: #2196f3;
        box-sizing: border-box;
      }
    }
  }
  .stocklist-wrap {
    box-shadow: 2px 2px 5px 0 #181921;
    border: 1px solid #3a3e50;
    .alert-msg {
      margin: 0;
      padding: 20px 10px;
      // text-align: center;
      border-bottom: 1px solid #3a3e50;
      font-size: 0.875rem;
      background: #2f3242;
    }
    position: fixed;
    top: 85px;
    right: 28px;
    z-index: 1;
    background: #2f3242;
    .stocklist {
    }
    .stocklist-item {
      padding: 10px 10px;
      // border-bottom: 1px solid #3a3e50;
      transition: 0.3s all;
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        background: #41455c;
      }
      .sidebar-symbol {
        font-size: 0.75rem;
        font-weight: 500;
      }
      .sidebar-name {
        font-weight: 200;
        font-size: 0.6875rem;
        color: #c9c9c9;
      }
    }
    &::before {
      content: '';
      width: 13px;
      height: 13px;
      position: absolute;
      z-index: -1;
      top: -8px;
      right: 3%;
      transform: rotate(45deg);
      box-sizing: border-box;
      background: #2f3242;
      border-top: 1px solid #3a3e50;
      border-left: 1px solid #3a3e50;
    }
  }
}
@keyframes alert {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  95% {
    opacity: 0.1;
    transform: scale(2);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@include mobile {
  .reminding-stock-wrap {
    .stocklist-wrap {
      position: fixed;
      top: 85px;
      right: 74px;
    }
  }
}
