.djiagraphBox {
  width: 75vw;
  padding: 0 15px;

  // .djia {
  //  
  //   padding: 0 20px;


  .djia {
    padding: 0 20px;
    position: relative;
    .djiagraph {
      // width: 70%;
      // margin: 0 auto;
      // background-color: white;
      margin-top: 96px;

      h1 {
        margin: 0;
        margin-top: 30px;
        color: white;
        font-size: 40px;
      }

      span {
        color: rgba(255, 255, 255, 0.5);
        font-size: 12px;
        margin-left: 10px;
        font-weight: 200;
      }

      .main-svg {
        background: none !important;
      }

    }

    .tv-lightweight-charts {
      border: 1px solid #3a3e50;
    }

    .djia-progress {
      width: 80%;
      position: absolute;
      top: 65%;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 300;
    }

    .progress-percent {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 300;


    }

    // .tv-lightweight-charts {
    //   border: 1px solid #3a3e50;
    // }

    // .djia-progress {
    //   width: 80%;
    //   position: absolute;
    //   top: 65%;
    //   left: 50%;
    //   transform: translate(-50%, 0);
    //   z-index: 300;
    // }

    // .progress-percent {
    //   position: absolute;
    //   top: 50%;
    //   left: 50%;
    //   transform: translate(-50%, 0);
    //   z-index: 300;
    // }
    .tv-lightweight-charts {
      // width: 50% !important;
      border: 1px solid #3a3e50;

    }
  }
}
