.sidebar{
  color: #ffffff;
  width: 25vw;
  min-width: 300px;
  min-height: 100vh;
  background-color: #2D3746;
  .logo{
    text-indent:-10000px;
    display: block;
    width: 90%;
    height: 100px;
    margin: 60px auto 10px auto;
    background-image: url(../styles/logo.png);
    background-repeat: no-repeat;
    text-align: center;
  }
  .menuBtn{
    display: flex;
    justify-content: space-evenly;
    .stockBtn{
      color: #ffffff;
      width: 140px;
      height: 50px;
      background: #212933;
      border: 0px;
    }
    .currencyBtn{
      color: #ffffff;
      width: 140px;
      height: 50px;
      background: #212933;
      border: 0px;
    }
  }
  .search{
    width: 80%;
    display: block;
    margin: 10px auto;
  }
  .sortBox{
    float: right;
    margin-right: 10px;
  }
  .none {
    display: none;
  }
}