.sidebar-wrap {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  width: 28%;
  min-width: 550px;
  min-height: 100vh;
  padding: 0px;
  color: #ffffff;
  background: linear-gradient(180deg, #2d3746 0%, #282d33 100%);

  .menuBar {
    width: 17%;
    min-width: 80px;
    background-color: red;
  }
  // .menuBtn {
  //   display: flex;
  //   justify-content: space-between;
  //   margin-top: 50px;
  //   button {
  //     width: calc(50% - 7px);
  //     height: 60px;
  //     border: 0px;
  //     font-size: 1.125rem;
  //     color: #ffffff;
  //     background: #212933;
  //   }
  // }
  // .search {
  //   display: block;
  //   width: 100%;
  //   margin: 10px auto 0;
  //   padding: 0 0 5px;
  //   border: none;
  //   border-bottom: 1px solid #fff;
  //   caret-color: #fff;
  //   background: none;
  //   &:before {
  //     content: '';
  //   }
  // }

  // .favorite-button {
  //   float: left;
  //   width: 102px;
  //   height: 32px;
  //   margin-top: 20px;
  //   font-size: 0.8462rem;
  //   color: #fff;
  //   background: #1c2024;
  //   border: 0;
  // }

  .sortbox {
    float: right;
    width: 102px;
    height: 32px;
    margin-top: 20px;
    padding-left: 8px;
    font-size: 0.8462rem;
    color: #fff;
    background: #1c2024;
  }
  .sortValuebox {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .none {
    display: none;
  }

  // list
  .sidebar {
    margin-top: 20px;
    width: 100%;
    li {
      padding: 12px 0;
      border-bottom: 1px solid #444;
      .sidebar-left {
        float: left;
        max-width: 50%;
        .sidebar-name {
          font-size: 0.6875rem;
          color: #979797;
        }
      }
      .sidebar-right {
        float: right;
        .sidebar-change {
          margin-left: 10px;
          font-size: 0.8462rem;
          vertical-align: super;
        }
      }

      .VictoryContainer {
        display: inline-block;
      }

      .bookmark {
        display: inline-block;
        width: 25px;
        height: 25px;
        background: none;
        border: 0;
        outline: none;
        position: relative;
        cursor: pointer;
        z-index: 10;
        img {
          width: 18px;
        }
        .bookmark_false {
          position: absolute;
          top: 50%;
          left: 70%;
          transform: translate(-50%, -50%);
        }
        .bookmark_true {
          position: absolute;
          top: 50%;
          left: 70%;
          transform: translate(-50%, -50%);
          // display: none;
        }
        .none {
          display: none;
        }
      }
    }
  }
}
