.sidebar-wrap {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  width: 28%;
  min-width: 432px;
  min-height: 100vh;
  padding: 0px;
  color: #ffffff;
  background: #2b2d3c;
  box-shadow: 5px 5px 25px #272936;

  .menuBar {
    width: 17%;
    min-width: 70px;
    box-sizing: border-box;
    background-color: #2f3242;
    display: flex;
    flex-direction: column;
    padding: 20px 10px 0 10px;
    box-shadow: 5px 5px 10px #272936;

    button {
      background: none;
      margin-bottom: 40px;
      padding: 17px;
      border: none;
      background-position: center;
      background-size: contain;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .sidebarList {
    padding: 15px;
    width: 100%;
    min-width: 342px;

    // padding: 15px;
    // width: 83%;
    // box-sizing: border-box;
    .search {
      display: block;
      width: 92%;
      height: 30px;
      margin: 10px auto 0;
      padding: 0 0 0 8%;
      border-radius: 5px;
      border: #1f202b;
      caret-color: #fff;
      box-shadow: none;
      color: #727aa0;
      background: #1f202b url(../styles/search_icon.png) no-repeat 5px center;

      &:before {
        content: '';
      }
    }

    .search::placeholder {
      color: #727aa0;
    }

    .sortbox {
      float: right;
      width: 102px;
      height: 32px;
      margin-top: 20px;
      padding-left: 8px;
      font-size: 0.8462rem;
      color: #fff;
      background: #1c2024;
      border-radius: 3px;
    }

    .sortValuebox {
      width: 100%;
      margin-top: 20px !important;
      margin-bottom: 20px;
    }

    .list_values {
      margin: 20px 0;
      // width: 100%;
      // margin-top: 20px;

      span {
        display: inline-block;
        color: #727aa0;
      }

      span:nth-child(1) {
        width: 20%;
        padding-left: 5%;
      }

      span:nth-child(2) {
        width: 10%;
        padding-left: 10%;
        text-align: center;
      }

      span:nth-child(3) {
        width: 20%;
        padding-left: 6%;
        text-align: center;
      }

      span:nth-child(4) {
        float: right;
        width: 25%;
        text-align: right;
      }
    }

    .sidebar {
      width: 100%;

      li {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 12px 0;

        .inner-sidebar-left {
          width: 50%;
          // float: left;
        }

        .inner-sidebar-right {
          // float: right;
          width: 50%;
        }

        .sidebar-left {
          display: flex;
          justify-content: space-between;
          width: 50%;
          // max-width: 50%;

          .sidebar-name {
            position: absolute;
            font-size: 0.6875rem;
            color: #979797;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 5%;
            display: inline-block;
          }
        }

        .sidebar-right {
          display: flex;
          justify-content: space-between;
          width: 50%;
          // float: right;

          .VictoryContainer {
            display: inline-block;
            background-color: pink;
          }

          .sidebar-price {
            display: inline-block;
            width: 50%;
            padding-left: 5%;
            // text-align: left;
            font-size: 0.8rem;
          }

          .sidebar-change {
            display: inline-block;
            width: 50%;
            text-align: right;
            font-size: 0.8rem;
          }
        }
      }

      span:first-child {
        width: 20%;
        text-align: right;
        white-space: nowrap;
      }

      span:last-child {
        text-align: right;
        white-space: nowrap;
      }
    }

    .bookmark {
      background: none;
      border: none;
      display: inline-block;
      outline: none;
      position: relative;
      cursor: pointer;
      z-index: 10;
      width: 25px;
      height: 25px;

      img {
        width: 100%;
      }

      .bookmark_false {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-70%, -50%);
      }

      .bookmark_true {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-70%, -50%);
        // display: none;
      }
    }
  }

  .none {
    display: none;
  }
}

// .none {
//   display: none;
//   background-color: red;
//   display: flex;
//   flex-direction: column;
//   button {
//     width: calc(50% - 7px);
//     height: 60px;
//     border: 0px;
//     font-size: 1.125rem;
//     color: #ffffff;
//     background: #212933;
//     margin: 10px auto 0;
//   }
// }
// }

.loading_icon {
  display: block;
  margin: 50% auto;
}

