$lightGrey: #a0a0a0;
$deepPurple: #1f202b;
$white: #ffffff;
$grey: #666666;

.switch-mode-wrap {
  display: flex;
  justify-content: center;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 10;
}

.switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 40px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $deepPurple;
  border: 3px solid #727aa0;
  box-shadow: 2px 2px 2px #07080a;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 27px;
  width: 27px;
  left: 5px;
  bottom: 3px;
  // border: 4px solid #ffffff;
  background: url('../styles/moon-icon.png') center center no-repeat;
  background-size: 90%;

  box-sizing: border-box;
  transition: 0.4s;
}

input:checked + .slider {
  background: $grey;
}

input:focus + .slider {
  box-shadow: 0 0 0 4px rgba(21, 156, 228, 0.7);
  outline: none;
}
// 여백 4px
input:checked + .slider:before {
  transform: translateX(77px);
}

.slider.round {
  border-radius: 34px;
  box-shadow: 2px 2px 2px #07080a;
  &::before {
    border-radius: 50%;
  }
  &::after {
    // content: 'DARK MODE';
    // font-size: 11px;
    // position: absolute;
    // right: 10px;
    // top: 50%;
    // transform: translate(0px, -50%);
    // letter-spacing: 0.2px;
  }
}

// light-mode
.light {
  .switch {
    .slider {
      border: 3px solid #ddd;

      background: #89cbff;
      &::before {
        border: 4px solid #ffa824;
        background: #ffd400;
      }
    }
    .slider.round {
      box-shadow: 2px 2px 2px #c7c7c7;
      &::after {
        // content: 'LIGHT MODE';
        // font-size: 11px;
        // position: absolute;
        // left: 10px;
        // top: 50%;
        // color: #1c73b7;
        // transform: translate(0px, -50%);
      }
    }
  }
}
