$lightGrey: #a0a0a0;
$deepPurple: #1f202b;
$white: #ffffff;
$grey: #666666;

.switch-mode-wrap {
  display: flex;
  justify-content: center;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 10;
}

.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $deepPurple;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background: $grey;
}

input:focus + .slider {
  box-shadow: 0 0 0 4px rgba(21, 156, 228, 0.7);
  outline: none;
}
// 여백 4px
input:checked + .slider:before {
  transform: translateX(66px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
